.dcf-ratio {
  overflow: hidden!important;
  position: relative!important;
}

.dcf-ratio::before {
  content: "" !important;
  display: block !important;
  width: 100% !important;
}

.dcf-ratio-child {
  bottom: 0 !important;
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}

.dcf-ratio-16x9::before {
  padding-top: 56.25%!important;
}

.dcf-ratio-9x16::before {
  padding-top: 177.77%!important;
}

.dcf-ratio-4x3::before {
  padding-top: 75%!important;
}

.dcf-ratio-3x4::before {
  padding-top: 133.33%!important;
}

.dcf-ratio-1x1::before {
  padding-top: 133%!important;
}
